/*canvas
{
	width: 100%;
	height: 100%;
}*/

body
{
	margin: 0;
	
	font-size:   12px;
	line-height: 20px;
		overflow: hidden;
}
footer
{	position: absolute;
	font-family: "Mrs Eaves", "Georgia", Times, serif;
	font-size:   15px;
	font-style: italic;
	font-weight: bold;
	
	top: 670px; 
	width: 100%;
	color: #ffffff;
	padding: 30px;
				
	text-align:left;
	z-index:1000;



}

#three
{

	width: 100%;
	height: 100%;
}

