/*canvas
{
	width: 100%;
	height: 100%;
}*/

body
{
	margin: 0;
	/*background: #000000 url(/media/starfieldwide.png) repeat;*/
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:   12px;
	line-height: 20px;
	overflow: hidden;
}


#three
{
	position: absolute;
	/*background: #000000 url(/media/starfield.jpg) repeat;
	*/
	background: #000000 url(/media/starfieldwide.png) repeat;
	top:  50%;
	left: 50%;
	margin: -300px 0 0 -300px;
	width:  800px;
	height: 800px;
}

